<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Data Lightworks - {% block title %}software codex{% endblock title %}</title>
  {% include 'includes/head.html' %}
  {% block style %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-extendext/1.0.0/jquery-extendext.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.6/css/colReorder.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.6/js/dataTables.colReorder.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap4.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.min.js"></script>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/perfect-scrollbar.css' %}">
    {% block extrastyle %}{% endblock extrastyle %}
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- -->
  {% endblock style %}
</head>
<body class="{% block body %}{% endblock body %}">

  {% block pre_loader %}
    {% include 'includes/pre-loader.html' %}
  {% endblock pre_loader %}

  {% block sidebar %}
    {% include 'includes/sidebar.html' %}
  {% endblock sidebar %}

  {% block header %}
    {% include 'includes/navigation.html' %}
  {% endblock header %}

  	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">

          {% block breadcrumbs %}
            {% include 'includes/breadcrumbs.html' %}
          {% endblock breadcrumbs %}

          <div class="main-body">
						<div class="page-wrapper">
              {% block content %}{% endblock content %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <script>
    document.querySelector('head').insertAdjacentHTML("beforeend", '<link rel="stylesheet" class="layout-css" href="">');

    if ('{{ request.user.profile.dark_mode }}' === 'True') {
      removeClassByPrefix(document.querySelector(".pcoded-navbar"), 'menu-');
      document.querySelector(".pcoded-navbar").classList.add("navbar-dark");
      document.querySelector(".layout-css").setAttribute('href', '{% static 'assets/css/layouts/dark.css' %}');
    } else {
      document.querySelector(".layout-css").setAttribute('href', '');
    }

    function removeClassByPrefix(node, prefix) {
      for (let i = 0; i < node.classList.length; i++) {
        let value = node.classList[i];
        if (value.startsWith(prefix)) {
          node.classList.remove(value);
        }
      }
    }
  </script>

  {% include 'includes/scripts.html' %}
  
  {% block extra_js %}{% endblock extra_js %}


</body>
</html>